@page
@model HospiEnCasa.App.Presentacion.Pages_Medicos.CreateModel
@{
}
<h1>Add</h1>
 
<form method="post">
    <div class="form-group">
        <label>Nombre</label>
        <input  asp-for="Medico.Nombre" class="form-control" />
    </div>
    <div class="form-group">
        <label>Apellido</label>
        <input  asp-for="Medico.Apellido" class="form-control" />
        
    </div>
    <div class="form-group">
        <label>Género</label>
        <select asp-for="Medico.Genero" class="form-control">
                    <option selected>Género...</option>
                    <option value=0>Masculino</option>
                    <option value=1>Femenino</option>
                </select>
    </div>
    <div class="form-group">
        <label>Número de Teléfono</label>
        <input  asp-for="Medico.NumeroTelefonico" class="form-control" />
    </div>
    <div class="form-group">
        <label>Especialidad</label>
        <input  asp-for="Medico.Especialidad" class="form-control" />
    
    </div>
    <div class="form-group">
        <label>Código</label>
        <input  asp-for="Medico.Codigo" class="form-control" />
    </div>
    <div class="form-group">
        <label>Registro Rethus</label>
        <input  asp-for="Medico.RegistroRethus" class="form-control" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" asp-page-handler="Save">Save</button>
        <a asp-page="Index" class="btn btn-dark">Cancel</a>
    </div>
</form>